<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AppSrv</servlet-name>
        <servlet-class>app.AppSrv</servlet-class>
        <init-param>
            <param-name>LOGIN</param-name>
            <param-value>90</param-value>
        </init-param>
        <init-param>
            <param-name>SENHA</param-name>
            <param-value>856252</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>AppSrv</servlet-name>
        <url-pattern>/AppSrv</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
